/* 参考URL：https://cotodama.co/wordpress_breadcrumb/

*/

.breadcrumb{
    list-style: none;
    font-size: .8em;
}
.breadcrumb > li{
    display: inline;
}
.breadcrumb > li a{
    color: inherit;
    text-decoration: none;
}
.breadcrumb > li{
    margin-right:.3em;
}
.breadcrumb > li + li:before{
    content: ">";
    margin-right:.3em;
}