@charser "utf-8";


.background-parent{
    position: relative;
    margin-top: 5px;
}
.background-parent .background-items{
    overflow   : hidden;
    -webkit-overflow-scrolling: hidden;
    z-index    : -1;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;    
}

.background-parent .background-items > .background-img{
    width: 100%;
    height:100%;

    position: absolute;

    /*アニメーションが始まるまで画像を見えなくしておく*/
    opacity    : 0;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*-------------------- 
先頭からn番目という指定で設定する
・delay
・duration
------------------- */
.background-parent .background-items .background-img:nth-child(1){
    animation-delay: 0s; 
}
.background-parent .background-items > .background-img:nth-child(2){
    animation-delay: 5s; 
}
.background-parent .background-items > .background-img:nth-child(3){
    animation-delay: 10s;
}
.background-parent .background-items > .background-img:nth-child(4){
    animation-delay: 15s;
}
.background-parent .background-items > .background-img:nth-child(5){
    animation-delay: 20s;
}

/*-------------------- 
フロントページの場合、個数によってアニメーション定義を切り替える
------------------- */
.background-parent.frontpage .background-items > .background-img:only-child {
    /* アニメーションなし */
    animation-name: background-slider-01;
    animation-duration: 5s; 
}
.background-parent.frontpage .background-items > .background-img:first-child:nth-last-child(2),
.background-parent.frontpage .background-items > .background-img:first-child:nth-last-child(2) ~ .background-img {
    animation-name: background-slider-02;
    animation-duration: 10s; 
}
.background-parent.frontpage .background-items > .background-img:first-child:nth-last-child(3),
.background-parent.frontpage .background-items > .background-img:first-child:nth-last-child(3) ~ .background-img {
    animation-name: background-slider-03;
    animation-duration: 15s; 
}
.background-parent.frontpage .background-items > .background-img:first-child:nth-last-child(4),
.background-parent.frontpage .background-items > .background-img:first-child:nth-last-child(4) ~ .background-img {
    animation-name: background-slider-04;
    animation-duration: 20s; 
}
.background-parent.frontpage .background-items > .background-img:first-child:nth-last-child(5),
.background-parent.frontpage .background-items > .background-img:first-child:nth-last-child(5) ~ .background-img {
    animation-name: background-slider-05;
    animation-duration: 25s; 
}

/***********************
フロントページ以外は画像１を表示し続ける
***********************/
.background-parent.no-frontpage > .background-img:nth-child(1){
    opacity: 1;
}

/*----------------------
   アニメーション
   １秒で表示
   ５秒間表示
   １秒で非表示
  ----------------------*/
@keyframes background-slider-01 {
    0% {
        opacity: 1;
    }
    100% {
        opacity:1;
    } 
}
@keyframes background-slider-02 {
    0% {
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    51%{
        opacity: 1;
    }
    52% {
        opacity:0;
    } 
}
@keyframes background-slider-03 {
    0% {
        opacity: 0;
    }
    6.6%{
        opacity: 1;
    }
    33%{
        opacity: 1;
    }
    39.6% {
        opacity:0;
    } 
}
@keyframes background-slider-04 {
    0% {
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    30% {
        opacity:0;
    } 
}
@keyframes background-slider-05 {
    0% {
        opacity: 0;
    }
    4%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    24% {
        opacity:0;
    } 
}
