@charset "utf-8";

/*******************************************
img:hoverで文字が降りてくる
*******************************************/
.img-hover-dropdown-block {
    width:            280px;
    height:            188px;
    overflow:        hidden;
    position:        relative;
	/* 
    margin:            10px 8px 10px 16px;
	*/
}
.img-hover-dropdown-block .caption {
    font-size:        130%;
    color:            #fff;
    padding-top:        10px;
    text-align:         center;
}
.img-hover-dropdown-block .mask {
    width:            100%;
    height:            50px;
    position:        absolute;
    top:            -50px;    /* 枠の上に置いて表示しない */
    left:            0;
    background-color:    rgba(0,0,0,0.4);
    -webkit-transition:    all 0.4s ease;
    transition:        all 0.4s ease;
}
.img-hover-dropdown-block img {
    -webkit-transition:    all 0.4s ease;
    transition:        all 0.4s ease;
	
	/* 画像を中央1.2倍表示 */
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    -ms-transform: translate(-50%, -50%) scale(1.2);
}
.img-hover-dropdown-block:hover .mask {
    top:        0px;    /* 下に降りてくるように見せる */
}
.img-hover-dropdown-block:hover img {
    /*margin-top:        50px;   */         /* 画像の絵を下にずらす */
    /* 中央1倍表示する */
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width:950px) {
	/* スマホ、タブレットの場合はhoverせずに */
	.img-hover-dropdown-block .mask {
		top:        0px;    /* 下に降りてくるように見せる */
	}
	.img-hover-dropdown-block img {
		/*margin-top:        50px;   */         /* 画像の絵を下にずらす */
		/* 中央1倍表示する */
		transform: translate(-50%, -50%) scale(1);
		-webkit-transform: translate(-50%, -50%) scale(1);
		-ms-transform: translate(-50%, -50%) scale(1);
	}
}