input[name="modalCtrl"] {
    display: none;
}
#modal-view {
    background-color: rgba(0,0,0,0.6);
    backdrop-filter:blur(1px);
    display: block;

    /* 画面全体を覆い隠すように表示（モーダル） */
    width: 100vw;
    height: 100vh;
    position: fixed; /* 表示位置固定 */
    top: 0;
    left: 0;
    z-index: -1;

    /* 動きにかける時間 */
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    /* 基本非表示 */
    opacity: 0;
}
/* 選択、チェックしたときの動作 */
input:checked + #modal-view {
    opacity: 1;
    z-index: 9999;
}
#modal-view > .inner{

    background-color: beige;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    margin: 0;

    /* 画面中央に表示 */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}
#modal-view > .inner > .close{
    width: auto;
    position: absolute;
    border:none;
    right: 0;
    z-index: 10;
    transform: scale(2);
    background-color: rgba(0,0,0,0);
}
#modal-view > .inner > .close:hover{
    cursor: pointer;
    cursor: hand;
}