/* 幅を超える文字は...とする */
.text-ellipsis{
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;  
}